*{
    
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
  
    /*max-width*/
    --max-width-1:700px;
    --max-width-2:900px;
    --max-width-3:400px;

    /*width*/
    --width-1:500px;
    --width-2:300px;

    /*min-height*/
    --min-height-1:100vh;

    /*padding*/
    --padding-1:20px;
    --padding-2:10px;

    /*margin bottom*/
    --margin-bottom-1:20px;
    --margin-bottom-2:10px;
  
    /*margin right*/
    --margin-right-1:30px;

    /*box-shadow*/
    --box-shadow-1:rgba(0, 0, 0, 0.35) 0px 5px 15px;

    /*font weight*/
    --font-weight-1:700;
    --font-weight-2:500;

    /*font-size*/
    --font-size-1:20px;
    --font-size-2:30px;
    --font-size-3:17px;

    /*letter spacing*/
    --letter-spacing-1:0.1em;

    /*color*/
    --color-1:rgb(177, 177, 177);
    
    /*backgraund color*/
    --bg-color-1:rgba(255, 255, 255);

    /*border radius*/
    --border-radius-1:4px;


}


/*Question*/
.question{
    display: flex;
    flex-direction: column;
    padding:var(--padding-1);
    margin-bottom: var(--margin-bottom-1);
    box-shadow: var(--box-shadow-1);
    background-color: var(--bg-color-1);
    width: var(--width-1);
    border-radius: var(--border-radius-1);
}
.question .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var(--margin-bottom-2);
    align-content: center;
}
.question .title h3{
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-1);
}
.question .title .icon{
    overflow: hidden;
    font-size: var(--font-size-2);
    color: var(--color-1);
    border-radius: 50%;
    cursor: pointer;
}
.question .content{
    font-size: var(--font-size-3);
}
.question .content .open{
    display: inline-block;
}

.question .content .close{
    display:none;
}

/*card*/
.card{

    background-color: var(--bg-color-1);
    max-width: var(--max-width-2);
    border-radius: var(--border-radius-1);
    padding: var(--padding-1);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card .title{
    margin-right: var(--margin-right-1);
}
.card .title h1{
    font-weight: var(--font-weight-2);
    letter-spacing: var(--letter-spacing-1);
}

/*app*/
.app{
    width: 100%;
    min-height: var(--min-height-1);
    background: rgb(70,72,156);
    background: linear-gradient(90deg, rgba(70,72,156,1) 0%, rgba(101,40,159,1) 15%, rgba(70,42,172,1) 91%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

@media only screen and (max-width: 1000px) {
 
    .card{
        flex-direction: column;
        
    }
    .card .title{
        margin:0 0 var(--margin-bottom-1);
    }

}
@media only screen and (max-width: 768px) {
    .card{
     padding: var(--padding-2);

    }
   .question{
      width:var(--width-1);
      padding: var(--padding-2);
   }

}
@media only screen and (max-width:560px) {
    .question{
        width:var(--width-2);

    }
    
}